<section layout-margin layout-padding>
  <div class="page-header">
    <h2 ng-bind="vm.workshop.companyName"></h2>
  </div>
  <div flex layout="row" ng-show="vm.workshop.isCurrentUserOwner">
    <md-button ui-sref="workshops.edit({ workshopId: vm.workshop._id })"
               title="Edit"
               aria-label="Edit"
               class="md-icon-button">
      <md-icon class="zmdi zmdi-edit"></md-icon>
    </md-button>
    <md-button ng-click="vm.remove()"
               title="Edit"
               aria-label="Edit"
               class="md-icon-button">
      <md-icon class="zmdi zmdi-delete"></md-icon>
    </md-button>
  </div>
  <h4>Address</h4>
  <p class="lead" ng-bind="vm.workshop.address"></p>
  <h4>Phone No</h4>
  <p class="lead" ng-bind="vm.workshop.phoneNo"></p>
  <h4>Opening Hours</h4>
  <p class="lead" ng-bind="vm.workshop.openingHours"></p>
  <h4>Description</h4>
  <p class="lead" ng-bind="vm.workshop.description"></p>
</section>
