<section layout-margin>
  <div class="page-header">
    <h1 ng-bind="vm.brand.brand"></h1>
  </div>
  <div class="pull-right" ng-show="vm.brand.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="brands.edit({ brandId: vm.brand._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <h4>Description</h4>
  <p class="lead" ng-bind="vm.brand.description"></p>
</section>
