<md-content role="navigation" class="navigation-menu side-menu" ng-controller="HeaderController as vm">
  <li class="parent-list-item" ng-show="vm.authentication.user">
    <div class="profile-menu">
      <div class="profile-pic">
        <img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}"/>
      </div>
      <md-button id="user-display-name" class="md-button-toggle" ng-click="vm.toggleOpen('account')">
        <span ng-bind="vm.authentication.user.displayName"></span>
        <md-icon md-font-set="zmdi zmdi-chevron-down" class="md-toggle-icon" ng-class="{'toggled' : vm.isOpen('account')}"></md-icon>
      </md-button>
      <ul class="menu-toggle-list" ng-show="vm.isOpen('account')">
        <li ng-repeat="item in vm.accountMenu.items | orderBy: 'position'">
          <md-button ui-sref-active="active" ui-sref="{{item.state}}" ng-click="vm.toggleList()">
            {{item.title}}
          </md-button>
        </li>
        <li ng-show="vm.authentication.user">
          <md-button href="/api/auth/signout" target="_self" ng-click="vm.toggleList()">
              Signout
          </md-button>
        </li>
      </ul>
    </div>
  </li>
  <li>
    <md-button ui-sref-active="active" ui-sref="home" ng-click="vm.toggleOpen('home')" class="zmdi zmdi-home">
        Home
    </md-button>
  </li>
  <li ng-repeat="item in vm.menu.items | orderBy: 'position'" class="parent-list-item"
  ng-if="item.shouldRender(vm.authentication.user);" ng-switch="item.type">
    <div ng-switch-default>
      <md-button ui-sref-active="active" ui-sref="{{item.state}}" ng-click="vm.toggleList()">
          {{item.title}}
      </md-button>
    </div>
    <div ng-switch-when="dropdown">
      <md-button class="md-button-toggle" ng-click="vm.toggleOpen(item.state)">
          {{item.title}}
          <md-icon md-font-set="zmdi zmdi-chevron-down" class="md-toggle-icon" ng-class="{'toggled' : vm.isOpen('account')}"></md-icon>
      </md-button>
      <ul class="menu-toggle-list" ng-show="vm.isOpen(item.state)">
        <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(vm.authentication.user);">
          <md-button ui-sref-active="active" ui-sref="{{subitem.state}}" ng-click="vm.toggleList()">
            {{subitem.title}}
          </md-button>
        </li>
      </ul>
    </div>
  </li>
  <li class="parent-list-item" ng-hide="vm.authentication.user">
    <md-button ui-sref-active="active" ui-sref="authentication.signup" ng-click="vm.toggleList()" class="zmdi zmdi-account-add">
        Sign Up
    </md-button>
  </li>
  <li class="parent-list-item" ng-hide="vm.authentication.user">
    <md-button ui-sref-active="active" ui-sref="authentication.signin" ng-click="vm.toggleList()" class="zmdi zmdi-account">
        Sign In
    </md-button>
  </li>
</md-content>