<section layout-margin layout-padding>
  <h3>Create Carowner</h3>
  <md-content layout-padding>
    <form name="vm.form.carownerForm" class="form-horizontal" ng-submit="vm.save(vm.form.carownerForm.$valid)" novalidate>
      <md-input-container class="md-block">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.carowner.user.firstName" required>
        <div ng-messages="vm.form.carownerForm.firstName.$error" role="alert">
          <div ng-message="required"  class="error">First name is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.carowner.user.lastName" required>
        <div ng-messages="vm.form.carownerForm.lastName.$error" role="alert">
          <div ng-message="required"  class="error">Last name is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" ng-model="vm.carowner.user.email"  lowercase required>
        <div ng-messages="vm.form.carownerForm.email.$error" role="alert">
          <div ng-message="required"  class="error">Email address is required.</div>
          <div ng-message="email"  class="error">Email address is invalid.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" ng-model="vm.carowner.user.username"  lowercase required>
        <div ng-messages="vm.form.carownerForm.username.$error">
          <div ng-message="required" class="error">Username is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="vm.carowner.user.password"  password-validator required>
        <div ng-messages="vm.form.carownerForm.password.$error">
          <div ng-message="required" class="error">Password is required.</div>
          <div ng-repeat="passwordError in passwordErrors">
            <div ng-show="vm.form.carownerForm.password.$error.requirements" class="error">{{passwordError}}</div>
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Password Requirements</label>
        <md-progress-linear value="{{requirementsProgress}}" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></md-progress-linear>
      </md-input-container>
      <md-content>
        <h4>Additional Owner Details</h4>
        <md-input-container class="md-block">
          <label class="control-label" for="address">Address</label>
          <textarea name="address" data-ng-model="vm.carowner.carowner.address" id="address" class="form-control" cols="30" rows="10"></textarea>
        </md-input-container>
        <div layout-gt-xs="row">
          <md-input-container class="md-block">
          <label class="control-label" for="placeOfBirth">Place Of Birth</label>
          <input name="placeOfBirth" type="text" ng-model="vm.carowner.carowner.placeOfBirth" id="placeOfBirth" class="form-control">
        </md-input-container>
          <md-datepicker ng-model="vm.carowner.carowner.dateOfBirth" md-placeholder="Date Of Birth">
          </md-datepicker>
        </div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Gender</label>
          <md-select ng-model="vm.carowner.carowner.gender">
            <md-option ng-repeat="gender in vm.genders" value="{{gender.value}}">
              {{gender.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </md-content>
      <md-content>
        <h4>Additional Car Details</h4>
        <md-input-container class="md-block">
          <label class="control-label" for="brand">brand</label>
          <md-select placeholder="Brand" ng-model="vm.carowner.carowner.brand" md-on-open="vm.loadBrands()" style="min-width: 200px;">
            <md-option ng-value="brand" ng-repeat="brand in vm.brands">{{brand.brand}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block">
          <label class="control-label" for="policeNo">Police No</label>
          <input name="policeNo" type="text" ng-model="vm.carowner.carowner.policeNo" id="policeNo" class="form-control">
        </md-input-container>
        <md-input-container class="md-block">
          <label class="control-label" for="stnkName">Stnk Name</label>
          <input name="stnkName" type="text" ng-model="vm.carowner.carowner.stnkName" id="stnkName" class="form-control">
        </md-input-container>
        <md-input-container class="md-block">
          <label class="control-label" for="materialNo">Material No</label>
          <input name="materialNo" type="text" ng-model="vm.carowner.carowner.materialNo" id="materialNo" class="form-control">
        </md-input-container>
        <md-input-container class="md-block">
          <label class="control-label" for="manufactureYear">Manufacture Year</label>
          <input name="manufactureYear" type="text" ng-model="vm.carowner.carowner.manufactureYear" id="manufactureYear" class="form-control" ng-pattern="/^[0-9]{4}$/" md-maxlength="4">
          <div ng-messages="vm.form.carownerForm.manufactureYear.$error" role="alert" multiple>
            <div ng-message="pattern" class="my-message">That doesn't look like a valid year
            </div>
            <div ng-message="md-maxlength" class="my-message">That's too much</div>
          </div>
        </md-input-container>
      </md-content>
      <md-input-container class="md-block">
        <md-button class="md-raised md-primary" type="submit">Create</md-button>
      </md-input-container>
      <md-divider></md-divider>
    </form>
  </md-content>
</section>