<div flex-gt-sm flex>
  <md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">
      <span>Carowners</span>
    </div>
  </md-toolbar>
  <md-content>
    <md-list flex>
      <md-subheader class="md-no-sticky">{{vm.carowners.length}} carowners</md-subheader>
      <md-list-item class="md-3-line" ng-repeat="item in vm.carowners" ng-click="null" ui-sref="carowners.view({ carownerId: item._id })">
        <div class="md-list-item-text" layout="column">
          <h3>{{item.user.displayName}}</h3>
          <h4>{{item.brand.brand}} - {{item.policeNo}}</h4>
          <p>{{item.address}}</p>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>
