<section>
  <div class="page-header">
    <h1>Carowners</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="carowner in vm.carowners" ui-sref="carowners.view({ carownerId: carowner._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="carowner.created | date:'mediumDate'"></span>
        by
        <span ng-if="carowner.user" ng-bind="carowner.user.displayName"></span>
        <span ng-if="!carowner.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="carowner.title"></h4>
      <p class="list-group-item-text" ng-bind="carowner.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.carowners.$resolved && !vm.carowners.length">
    No carowners yet, why don't you <a ui-sref="carowners.create">create one</a>?
  </div>
</section>
