<section layout-margin layout-padding>
  <div class="page-header">
    <h2 ng-bind="vm.carowner.user.displayName"></h2>
  </div>
  <div flex layout="row" ng-show="vm.carowner.isCurrentUserOwner">
    <md-button ui-sref="carowners.edit({ carownerId: vm.carowner._id })"
               title="Edit"
               aria-label="Edit"
               class="md-icon-button">
      <md-icon class="zmdi zmdi-edit"></md-icon>
    </md-button>
    <md-button ng-click="vm.remove()"
               title="Edit"
               aria-label="Edit"
               class="md-icon-button">
      <md-icon class="zmdi zmdi-delete"></md-icon>
    </md-button>
  </div>
  <h3>Additional Owner Details</h3>
  <p class="lead" ng-bind="vm.carowner.address"></p>
  <p class="lead" ng-bind="vm.carowner.dateOfBirth"></p>
  <p class="lead" ng-bind="vm.carowner.placeOfBirth"></p>
  <p class="lead" ng-bind="vm.carowner.gender"></p>
  <h3>Additional Car Details</h3>
  <p class="lead" ng-bind="vm.carowner.policeNo"></p>
  <p class="lead" ng-bind="vm.carowner.stnkName"></p>
  <p class="lead" ng-bind="vm.carowner.brand.brand"></p>
  <p class="lead" ng-bind="vm.carowner.materialNo"></p>
  <p class="lead" ng-bind="vm.carowner.manufactureYear"></p>
  <p class="lead" ng-bind="vm.carowner.workshop.companyName"></p>
</section>

